<h1></h1>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Wild Genius Blog, <%= @subscriber.name %></h1>
    <p>
      You have successfully subscribed! <br>
    </p>
    <p>
      Please visit the site, read the post, and feel free to leave a comment, just follow this link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>