<!DOCTYPE html>
<html>
<head>
	<title> </title>


</head>

<body>
	<h1>Wild Genius</h1>
	<h3>Wild - Going beyond normal or conventional bounds: fantastic, indicative of strong passion, desire, or emotion. </h3>

	<h3>Genius - As in the potential available to us when we live our full selves.</h3>


	<iframe width="560" height="315" src="https://www.youtube.com/embed/g1PgUkhBdkE" frameborder="0" allowfullscreen></iframe>


	<h3>In August of 2014 I made the hardest decision of my life, to leave my job for a more purposeful means of employment. I grew tired of the monotonous stress of my everyday life, and decided to search for a new means of income. That search brought me to coding.  After I brief stint at a code immersion camp I arose empowered with a new skill that I am head over heals for.  Join me as I embark on this new life, one full of purpose and self-expression through code. Check out my post, leave a comment, and please be sure to subscribe. </h3>

		<div>
  		<%= image_tag "Mmackpic.jpg", size: "450x400", alt: "travelpic" %>
	
  	</div>

</body>
</html>	