<!DOCTYPE html>
<html>
<head>
	<title> </title>


</head>

<body>
	<h1>Wild Genius</h1>
	<h3>Wild - Going beyond normal or conventional bounds: fantastic, indicative of strong passion, desire, or emotion. </h3>

	<h3>Genius - As in the potential available to us when we live our full selves.</h3>


	<iframe width="560" height="315" src="https://www.youtube.com/embed/g1PgUkhBdkE" frameborder="0" allowfullscreen></iframe>


	<h3>In August of 2014 due to circumstances beyond my control, I had to leave my cushy job with the city. An accident in 2013 left me with back pain that makes it hard for me to sleep. I didn’t know it at the time, but the stress from my job and lack of sleep turned me into a totally different person. Unable to handle the stress of work and everyday life, I began to search for an outlet. That search brought me to coding. After I brief stint at a code immersion camp I arose empowered with a new skill. Join me as I embark on this new life, one full of self-expression through code. Check out my post, leave a comment, and please be sure to subscribe. </h3>

		<div>
  		<%= image_tag "Mmackpic.jpg", size: "450x400", alt: "travelpic" %>
	
  	</div>

</body>
</html>	